.header-buttons {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 2px solid #ddd;
}

.logo {
  height: 50px;
  margin-right: 20px;
}

.header-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745; /* Verde */
  color: white;
  border: none;
  border-radius: 8px;
  cursor:default;
  margin-left: 10px;
}

.header-btn:hover {
  background-color: #218838;
}