.header-div {
  display: flex;
  background-color: #ffffff;
}

.logo {
  height: 10vh;
  width: 8vw;
}

.header-btn {
  height: 10vh;
  width: 46vw;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #e41414;
  color: white;
  border: none;
  cursor:default;
}

.header-btn:hover {
  background-color: #dd3d3d;
}