<div class="parent1" *ngIf="tipoOpcion === null">
    <div class="dosOpciones" (click)="seleccionarOpcion('individual')">
        <img class="imagenItem" src="./../../../assets/Hamburguesa.png">
        <p>Individual</p>
    </div>
    <div class="dosOpciones" (click)="seleccionarOpcion('combo')">
        <img class="imagenItem" src="./../../../assets/Combo.png">
        <p>Combo</p>
    </div>
</div>



<div class="parent2" *ngIf="tipoOpcion === 'individual'"><!-- M E N U     I N D I V I D U A L -->
    <div class="dosItems"><!--primeros 2 items-->
        <div class="unItem">
            <img class="imagenItem" src="./../../../assets/Hamburguesa.png">
            <p>Hamburguesa</p>
        </div>
        <div class="unItem">
            <img class="imagenItem" src="./../../../assets/Bebida.png">
            <p>Bebida</p>
        </div>
    </div>


    <div class="dosItems"><!--segundos 2 items (pero este esta solo)-->
        <div class="unItem">
            <img class="imagenItem" src="./../../../assets/Papas.png">
            <p>Papas</p>
        </div>
    </div>
</div>



<div class="parent2" *ngIf="tipoOpcion === 'combo'"><!-- M E N U     C O M B O -->
    <div class="dosItems"><!--primeros 2 items (solo hay uno)-->
        <div class="unItem">
            <img class="imagenItem" src="./../../../assets/Combo.png">
            <p>Combo 1</p>
        </div>
    </div>
</div>



<div class="pedir">
    <a>Hola</a>
</div>